
/**
 * color codes
 */
$C1: green; // bright blue
$C2: black; // dark blue
$C3: #8E8E8E; // grey
$C4: #F0F4F7; // glacier blue
$C5: #CCCCCC; // grey lighter than C3
$C6: #FCFCFC; // off white
$C7: #FFFFFF; // white
$C8: #68A3B5; // teal
$C9: #D65151; // red
$C10: #384D60; // dark blue lighter than C2
$C11: #A9B5BF; // blue grey
$C12: #C9CFD3; // grey lighter than C5
$C13: #243442; // black
$C14: #0277BD; // bright blue darker than C1
$C15: #D32F2F; // dark red
$C16: #F3F3F3; // grey white
$C17: #5E5E5E; // dark grey
$C18: #AAAAAA; // grey lighter than C3 darker than C5 / neutral gray
$C19: #58BD7F; // green
$C20: #EEEEEE; // another grey

// color re-naming
$torpid-color-1: $C1;
$torpid-color-2: $C2;
$torpid-color-3: $C3;
$torpid-color-4: $C4;
$torpid-color-5: $C5;
$torpid-color-6: $C6;
$torpid-color-7: $C7;
$torpid-color-8: $C8;
$torpid-color-9: $C9;
$torpid-color-10: $C10;
$torpid-color-11: $C11;
$torpid-color-12: $C12;
$torpid-color-13: $C13;
$torpid-color-14: $C14;
$torpid-color-15: $C15;
$torpid-color-16: $C16;
$torpid-color-17: $C17;
$torpid-color-18: $C18;
$torpid-color-19: $C19;
$torpid-color-20: $C20;

$bc-color-1: $C1;
$bc-color-2: $C2;
$bc-color-3: $C3;
$bc-color-4: $C4;
$bc-color-5: $C5;
$bc-color-6: $C6;
$bc-color-7: $C7;
$bc-color-8: $C8;
$bc-color-9: $C9;
$bc-color-10: $C10;
$bc-color-11: $C11;
$bc-color-12: $C12;
$bc-color-13: $C13;
$bc-color-14: $C14;
$bc-color-15: $C15;
$bc-color-16: $C16;
$bc-color-17: $C17;
$bc-color-18: $C18;
$bc-color-19: $C19;
$bc-color-20: $C20;

@mixin bc-background-image($value) {
	background-image: -webkit-#{$value};
	background-image: -moz-#{$value};
	background-image: -ms-#{$value};
	background-image: -o-#{$value};
}
