
/*!
 * color codes
 */
$bc-color-1: #008000;		// bright blue
$bc-color-2: #000;			// dark blue
$bc-color-3: #8e8e8e;		// grey
$bc-color-4: #f0f4f7;		// glacier blue
$bc-color-5: #ccc;			// grey lighter than C3
$bc-color-6: #fcfcfc;		// off white
$bc-color-7: #fff;			// white
$bc-color-8: #68a3b5;		// teal
$bc-color-9: #d65151;		// red
$bc-color-10: #384d60;	// dark blue lighter than C2
$bc-color-11: #a9b5bf;	// blue grey
$bc-color-12: #c9cfd3;	// grey lighter than C5
$bc-color-13: #243442;	// black
$bc-color-14: #0277bd;	// bright blue darker than C1
$bc-color-15: #d32f2f;	// dark red
$bc-color-16: #f3f3f3;	// grey white
$bc-color-17: #5e5e5e;	// dark grey
$bc-color-18: #aaa;			// grey lighter than C3 darker than C5 / neutral gray
$bc-color-19: #58bd7f;	// green
$bc-color-20: #eee;			// another grey

$ft-thin: Verdana;
$ft-norm: Verdana;
$ft-bold: Verdana;

$mobile-width: 830px;
$tablet-width: 1080px;
