
.bc-list-header {
	display: table-header-group;
	margin: 0;
	padding: 0;

	& > span {
		display: table-cell;
		margin: 0;
		padding: 16px 10px 15px;
		border-bottom: 1px solid $bc-color-12;
		color: $bc-color-3;
		font: 16px/1 $ft-bold;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		border-spacing: 0;
		overflow: hidden;

		&:nth-child(2) {
			padding: 16px 10px 15px 0;
			text-align: left;
		}

		&:last-of-type {
			padding: 16px 0 15px 10px;
			text-align: right;
		}

		&.bc-list-extra {
			display: none;
			width: 1px;
			padding: 0;
			border-bottom: 0;
		}
	}

	&.image {
		& > span {
			&.bc-list-extra {
				display: table-cell;
			}
		}
	}

	&.selector {
		& > span {
			&.bc-list-extra {
				display: table-cell;
			}
		}
	}
}

