

.torpid-validate {
	width: 100%;
	margin: 0;
	padding: 0;

	& > .label-container {

		& > .label {
			float: left;
			height: 40px;
			color: $torpid-color-2;
			font: 16px/40px $ft-norm;
			margin-bottom: 0px;
		}

		& > .hint {
			float: right;
			color: $torpid-color-3;
			text-align: right;
			font: 13px/40px $ft-norm;
			margin-bottom: 0px;

			& > .blueHint {
				color: $torpid-color-1;
			}
		}
	}

	& > .validate-container {
		margin: 0 0 3px 0;

		&.disabled {

			& > input {
				background-color: $torpid-color-20;
				color: $torpid-color-3;
			}
		}
	}

	& > .error-container {
		width: 100%;
		height: 0px;
		font: 12px/15px $ft-norm;
		color: $torpid-color-2;
		@include box-sizing();
		@include transition(height .3s ease);
	}

	&.invalid {

		& > .validate-container {

			& > input {
				border-color: $torpid-color-9;
			}
		}

		& > .error-container {
			height: 15px;
			color: $torpid-color-9;
		}
	}
}
