//.torpid-tab{
//	position: relative;
//	display: block;
//	z-index: 3;
//	float: left;
//	width: 50%;
//	overflow: hidden;
//	text-align: center;
//	vertical-align: baseline;
//	margin: 20px 20px 50px 20px;
//	border-radius: 12px;
//	background: transparent;
//	outline: none;
//	line-height: 1;
//	box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.5) inset;
//	font: 13px/19px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
//	-webkit-transition: background .3s ease-in-out;
//	-webkit-box-sizing: border-box;
//}
//.accordian-tab{
//	width: 45%;
//	overflow: hidden;
//	text-align: center;
//	background: grey;
//}
