
.bc-checkbox {
	display: inline-block;
	height: 40px;
	width: 100%;
	padding: 9px 0 9px 36px;
	line-height: 40px;
	@include box-sizing();

    & > .box {
		display: inline-block;
		float: left;
		width: 22px;
		height: 22px;
		margin: 0 0 0 -36px;
		position: relative;
		z-index: 1;

		& > label {
			cursor: pointer;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: $bc-color-7;
			border: 2px solid $bc-color-5;
			border-radius: 3px;
			@include box-sizing();

			&:after {
				content: '\00a0';
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				opacity: 0;
				position: absolute;
				width: 12px;
				height: 6px;
				background: transparent;
				top: 4px;
				left: 3px;
				border: 3px solid $bc-color-7;
				border-top: none;
				border-right: none;
				@include transform(rotate(-45deg));
			}
		}

		& > input[type="checkbox"] {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			opacity: 0;
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 2;
			cursor: pointer;


			&.checked + label {
				background: $bc-color-1;
				border: 1px solid $bc-color-1;

				&:after {
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					filter: alpha(opacity=100);
					opacity: 1;
				}
			}

			&:disabled + label {
				opacity: 0.4;
				cursor: default;
			}
		}
    }

    & > span {
		float: left;
		width: 100%;
		height: 100%;
		font: 16px/25px $ft-norm;
		color: $bc-color-2;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		@include box-sizing();
    }
}
