
.bc-list-container {
	display: inline-block;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 400px;
	padding: 0;
	overflow: visible;
	overflow-x: auto;
	@include bc-box-sizing();

	& > div {
		display: table;
		min-width: 100%;
	}
}

@media print {

	.bc-list-container {
		overflow: hidden;
	}
}

@media screen and (max-width: $mobile-width) {

	.bc-list-container {

	}
}
