
.bc-radio-button {
	display: inline-block;

	label {
		position: absolute;
		top: -6px;
		width: 20px;
		height: 20px;
		border: 1px solid $bc-color-5;
		border-radius: 12px;
		background: $bc-color-7;
		cursor: pointer;

		&:after {
			position: absolute;
			top: 2px;
			left: 2px;
			//width: 3px;
			//height: 6px;
			border: 8px solid $bc-color-1;
			border-radius: 12px;
			background: transparent;
			content: '';
			opacity: 0;
			-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
			filter: alpha(opacity=0);
    }
	}

	input {
		&[type='radio'] {
			visibility: hidden;

			&:checked + label {
				border: 1px solid $bc-color-1;
				background: $bc-color-7;

				&:after {
					opacity: 1;
					-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
					filter: alpha(opacity=100);
				}
			}

			&:disabled + label {
				cursor: default;
				opacity: .4;
			}
		}
  }

	.box {
		display: inline-block;
		position: relative;
		width: 20px;
  }

	span {
		@include bc-box-sizing;
		padding-left: 26px;
		color: $bc-color-2;
		font-size: 16px;
		line-height: 48px;
  }
}
