table {
	&.bc-sortable-list {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;

		& .bc-sortable-list-header {
			& > th {
				padding: 10px;
				border-bottom: 1px solid $bc-color-5;
				font: 16px/1 $ft-bold;
				text-align: left;

				&.sortable {
					cursor: pointer;

					& > .material-icons {
						font-size: 16px;
					}
				}
			}
		}

		& .bc-sortable-list-body {
			& > tr {
				& > td {
					max-width: 100px;
					padding: 16px 10px 15px;
					border-top: 1px solid $bc-color-5;
					border-bottom: 1px solid $bc-color-5;
					vertical-align: middle;


					&.image-cell {
						width: 40px;
						height: 40px;

						& > div {
							width: 100%;
							height: 100%;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;

							&.img {
								border: 1px solid $bc-color-5;
								border-radius: 20px;
							}
						}
					}
				}

				&.clickable {
					cursor: pointer;
				}
			}
		}
	}
}
