table {
	&.bc-sortable-list {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;

		& .bc-sortable-list-header {
			& > th {
				border-bottom: 1px solid $bc-color-5;
				text-align: left;
				font: 16px/1 $ft-bold;

				&.sortable {
					cursor: pointer;
					& > .material-icons {
						font-size: 16px;
					}
				}
			}
		}

		& .bc-sortable-list-body {
			& > tr {
				& > td {
					padding: 16px 10px 15px 0;
					border-top: 1px solid $bc-color-5;
					border-bottom: 1px solid $bc-color-5;
				}
			}
		}
	}
}
