
$white: #fff;
$off-white: #f5f5f5;

.bc-select {
	display: inline-block !important;
	height: 36px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: inherit;
	font-weight: inherit;
	line-height: 1;

	& > .menu-button {
		@include bc-box-sizing;
		@include bc-background-image(linear-gradient(top, $white, $off-white));
		position: relative;
		padding: 11px 50px 11px 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: #fafafa;
		color: #8e8e8e;
		font: 14px/1 proxima;
		text-align: left;
		cursor: pointer;

		&:after {
			position: absolute;
			top: 16px;
			right: 10px;
			width: 0;
			height: 0;
			border: 5px solid transparent;
			border-top-color: #8e8e8e;
			content: '\00a0';
		}
	}

	& > .icon {
		display: none;
	}

	& > .list-container {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 1px;
		float: left;
		clear: both;
		z-index: 1000;


		& > .select-container {
			display: none;
			position: absolute;
			top: 7px;
			left: 0;
			width: auto;
			min-width: 100%;
			height: auto;
			max-height: 450px;
			padding: 0;
			border: 1px solid #ccc;
			border-radius: 3px;
			background-color: #fafafa;
			box-shadow: -1px 1px 7px -4px #111;
			overflow: hidden;
			overflow-y: auto;
			z-index: 1000;

			& > li {
				display: block;
				width: auto;
				min-width: 120px;
				padding: 9px 20px 9px 10px;
				color: $bc-color-17;
				font: 14px/1 proxima;
				text-align: left;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				cursor: pointer;

				&.unselectable {
					color: $bc-color-8;
					font: 15px/36px $ft-bold;
					cursor: default;
				}

				&.selected {
					color: $bc-color-1;
				}

				&.disabled {
					color: #aaa;
					cursor: default;
				}

				&:hover {
					background-color: #f6f6f6;
					color: $bc-color-1;
				}

				&:first-of-type {
					padding-top: 19px;
				}

				&:last-of-type {
					padding-bottom: 19px;
				}
			}

			&.hl-disabled {
				& > li {
					&.selected {
						color: $bc-color-17;
					}

					&:hover {
						background-color: #f6f6f6;
						color: $bc-color-1;
					}
				}
			}
		}
	}

	&.top {
		& > .list-container {
			& > .select-container {
				top: auto;
				bottom: 47px;
			}
		}
	}

	&.left {
		float: left;

		& > .list-container {
			& > .select-container {
				right: initial;
				left: 0;
			}
		}
	}

	&.full {
		width: 100%;

		& > .menu-button {
			width: 100%;
			text-align: left;
		}

		& > .list-container {
			& > .select-container {
				width: 100%;
				right: 0;
				left: -1px;
				z-index: 1000;
			}
		}
	}

	&.active {
		position: relative;
		z-index: 1000;

		& > a {
			&.d-button {
				background: $bc-color-16;
			}
		}

		& > .list-container {
			& > .select-container {
				display: block;
			}
		}
	}

	&.small {
		width: 44px;
		height: 42px;
		margin: 0;
		cursor: pointer;

		& > .icon {
			display: inline-block;
			width: 42px;
			height: 42px;
			text-align: center;

			& > i {
				color: $bc-color-12;
				font-size: 36px;
				line-height: 42px;
			}

			&:hover {
				background-color: transparent;

				& > i {
					color: $bc-color-11;
				}
			}
		}

		& > .list-container {
			& > .select-container {
				right: 5px;
				left: initial;
			}
		}

		& > .menu-button {
			display: none;
		}

		&.top {
			& > .list-container {
				& > .select-container {
					top: auto;
					bottom: 50px;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile-width) {
	.bc-select {
		width: 100%;

		& > .menu-button {
			width: 100%;
			text-align: left;
		}

		& > .list-container {
			& > .select-container {
				width: 100%;
				left: 0;
				right: initial;
			}
		}

		&.small {
			& > .list-container {
				& > .select-container {
					width: calc(100vw - 20px);
					left: initial;
					right: 0;
				}
			}
		}
	}
}
