
$white: #fff;
$off-white: #eee;

.bc-select {
	display: inline-block !important;
	height: 36px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: inherit;
	font-weight: inherit;
	line-height: 1;

	& > a {
		&.d-button {
			@include bc-background-image(linear-gradient(top, $white, $off-white));
			position: relative;
			display: inline-block;
			padding: 9px 28px 9px 16px;
			border-radius: 3px;
			color: $bc-color-3;
			font: 16px/1 proxima;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			&:after {
				position: absolute;
				top: 16px;
				right: 16px;
				width: 0;
				height: 0;
				border-top: 4px solid $bc-color-3;
				border-right: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 4px solid transparent;
				content: '\00a0';
			}
		}
	}

	& > .icon {
		display: none;
	}

	& > .list-container {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 1px;
		float: left;
		clear: both;
		z-index: 1000;

		& > .list-container-cover {
			position: fixed;
			top: 0;
			left: 0;
			display: none;
			width: 100vw;
			height: 100vh;
			cursor: initial;
			z-index: 1;
		}


		& > ul {

			&.select-container {
				@include bc-box-sizing;
				display: none;
				position: absolute;
				top: 5px;
				right: 3px;
				min-width: 200%;
				max-width: 400%;
				height: auto;
				max-height: 400px;
				padding: 8px 16px;
				border: 1px solid $bc-color-5;
				border-radius: 3px;
				background: $bc-color-7;
				box-shadow: 0 2px 7px -2px $bc-color-13;
				overflow: hidden;
				z-index: 1000;
				overflow-y: auto;

				&.all {
					min-width: 300px;
				}

				& > li {
					width: 100%;
					height: 36px;
					color: $bc-color-17;
					font: 15px/36px $ft-norm;
					text-align: left;
					text-overflow: ellipsis;
					white-space: nowrap;
					cursor: pointer;
					overflow: hidden;

					& > div {
						display: inline-block;
						width: 100%;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}

					&:hover {
						color: $bc-color-1;
					}

					&.unselectable {
						color: $bc-color-8;
						font: 15px/36px $ft-bold;
						cursor: default;
					}

					&.selected {
						color: $bc-color-1;
					}
				}

				&.hl-disabled {
					& > li {
						&.selected {
							color: $bc-color-17;
						}
					}
				}
			}
		}
	}

	&.top {
		& > .list-container {
			& > ul {
				&.select-container {
					top: auto;
					bottom: 50px;
				}
			}
		}
	}

	&.left {
		float: left;

		& > .list-container {
			& > ul {
				&.select-container {
					right: initial;
					left: 0;
				}
			}
		}
	}

	&.full {
		width: 100%;

		& > a {
			&.d-button {
				width: 100%;
				text-align: left;
			}
		}

		& > .list-container {
			& > ul {
				width: 100%;
				right: 0;
				left: 0;
				min-width: initial;
				max-width: initial;

				&.select-container {
					width: 100%;
					z-index: 1000;
				}
			}
		}
	}

	&.active {
		position: relative;
		z-index: 1000;

		& > a {
			&.d-button {
				background: $bc-color-16;
			}
		}

		& > .list-container {
			& > .list-container-cover {
				display: block;
			}

			& > ul {
				&.select-container {
					display: block;
				}
			}
		}
	}

	&.small {
		width: 44px;
		height: 42px;
		margin: 0;
		cursor: pointer;

		& > .icon {
			display: inline-block;
			width: 42px;
			height: 42px;

			& > i {
				color: $bc-color-12;
				font-size: 42px;
				line-height: 42px;
			}

			&:hover {
				background-color: transparent;

				& > i {
					color: $bc-color-11;
				}
			}
		}

		& > .list-container {
			& > ul {
				&.select-container {
					top: 10px;
					right: 5px;
					width: 300px;
					max-width: none;
				}
			}
		}

		& > a {
			&.d-button {
				display: none;
			}
		}

		&.top {
			& > .list-container {
				& > ul {
					&.select-container {
						top: auto;
						bottom: 50px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile-width) {
	.bc-select {
		width: 100%;

		& > a {
			&.d-button {
				width: 100%;
				text-align: left;
			}
		}

		& > .list-container {
			& > ul {
				&.select-container {
					width: 100%;
					left: 0;
					right: 0;
					min-width: initial;
					max-width: initial;
				}
			}
		}
	}
}
