
/*! topdoc
  name: --bc-tabs
  description: Viewing tabs.
  useage: Use when displaying multiple tabs on a single page/view.
  html:
   <div class="bc-tabs"><span></span></div>
  dependencies: [_components/bc-tabs]
 */

.--bc-tabs {
	@include bc-box-sizing;
	width: 100%;
	height: 100%;
	padding: 98px 0 0;

	@media screen and (max-width: $mobile-width) {
		padding: 48px 0 0 0;
	}

	& > .--bc-tabs-header {
		display: flex;
		width: 100%;
		border-bottom: 1px solid $bc-color-5;
		margin: -48px 0 0;

		& > .--bc-tabs-name {
			@include bc-transition(all .5s ease-in-out);
			@include bc-box-sizing;
			position: relative;
			padding: 15px 16px;
			float: left;
			border-bottom: 2px solid transparent;
			color: $bc-color-2;
			font: 16px/1 $ft-norm;
			text-overflow: ellipsis;
			white-space: nowrap;
			cursor: pointer;
			overflow: hidden;

			@media screen and (max-width: 700px) {
				font: 15px/1 $ft-norm;
				padding: 15px 14px;
			}

			@media screen and (max-width: 600px) {
				font: 14px/1 $ft-norm;
				padding: 10px 12px;
			}

			@media screen and (max-width: 500px) {
				font: 12px/1 $ft-norm;
				padding: 10px 10px;
			}

			@media screen and (max-width: 400px) {
				font: 10px/1 $ft-norm;
				padding: 5px 5px;
			}

			&.active {
				border-bottom-color: $bc-color-1;
			}

			& > .--bc-tabs-badge {
				position: absolute;
				top: 10px;
				right: 4px;
				width: 10px;
				height: 10px;
				padding: 0;
				border-radius: 5px;
				background-color: $bc-color-11;
				color: $bc-color-7;
				font: 9px/13px $ft-norm;

				&.badge-red {
					background-color: $bc-color-9;
				}

				&.badge-blue {
					background-color: $bc-color-14;
				}

				&.badge-green {
					background-color: $bc-color-1;
				}
			}
		}
	}

	& > .--bc-tabs-content {
		@include bc-box-sizing;
		width: 100%;
		height: 100%;
		padding: 30px 0 0;

		& > .--bc-tab {
			display: none;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;

			& > .--bc-tab-container {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
			}


			&.active {
				display: inline-block;
			}
		}
	}
}
