
@import '../mixins';

.torpid-title {
	width: 100%;
	height: auto;
	padding: 48px 0 0 0;
	@include box-sizing();

	& > header {
		width: 100%;
		height: 48px;
		margin: -48px 0 0;
		border-bottom: 2px solid $torpid-color-8;
		font: 21px/48px $ft-bold;

		& > span {
			float: left;
			height: 100%;
			color: $torpid-color-8;
			font: 21px/48px $ft-bold;
		}

		& > a {
			float: right;
			height: 36px;
			font: 13px/36px $ft-norm;
			color: $torpid-color-1;
			margin: 12px 0 0 0;
		}

		
	}

	section {
		width: 100%;
		height: auto;
		padding: 20px 0 0;
		
		& > textarea {
			width: 100%;
		}
	}

	&.red {
		border-color: $torpid-color-9;
		& > header {
			& > span {
				color: $torpid-color-9;
			}
		}
	}
}
