
.torpid-list-container {
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 56px 0 0 0;
	overflow: visible;
	overflow-x: auto;
	@include box-sizing();

	& > div {
		display: table;
		min-width: 100%;
	}
}

@media screen and (max-width: $mobile-width) {

	.torpid-list-container {

	}
}
