
.torpid-list-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 56px 0 0 0;
	@include box-sizing();

	header {
		margin: -56px 0 0 0;
	}
}

@media screen and (max-width: $mobile-width) {

	.torpid-list-container {

	}
}
