
.torpid-checkbox {
  width: 150px;
	
	& input[type=checkbox] {
		visibility: hidden;
	}

	& .box {
		width: 20px;
		position: relative;
		display: inline-block;
	}

	& span{
		padding-left: 26px;
		font-size: 16px;
		color: $torpid-color-2;
		box-sizing: border-box;
		line-height: 48px;
	}

	& label {
		cursor: pointer;
		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		border-radius: 1px;
		background: $torpid-color-14;
		border: 1px solid $torpid-color-5;
	}

	& label:after {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		content: '';
		position: absolute;
		width: 12px;
		height: 6px;
		background: transparent;
		top: 4px;
		left: 4px;
		border: 2px solid $torpid-color-7;
		border-top: none;
		border-right: none;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	& input[type=checkbox]:checked + label:after {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;

	}

	& input[type=checkbox]:checked + label {
		background: $torpid-color-1;
		border: 1px solid $torpid-color-1;
	}

	& input[type=checkbox]:disabled + label {
		opacity: 0.4;
		cursor: default;
	}
}
