
$imageSize: 40px;

.torpid-list {
	display: table-row-group;

	& > .torpid-list-no-results {
		width: 100%;
		height: 100px;
		font: 22px/100px $ft-norm;
		color: $busy-color-11;
		text-align: center;
	}

	& > .torpid-list-row {
		display: table-row;
		padding: 0;

		& > span {
			display: table-cell;
			font: 16px/36px $ft-norm;
			color: $torpid-color-3;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 8px 10px 0 0;
			margin: 0;
			border-spacing: 0px;
			border-bottom: 1px solid $torpid-color-5;
			vertical-align: middle;

			&:nth-child(2) {
				text-align: left;
				padding: 0 10px 0 0;
			}
			&:last-of-type {
				text-align: right;
				padding: 0 0 0 10px;
			}
	
			&.torpid-list-extra {
				display: none;
				position: relative;
				width: 10+$imageSize;
				border-bottom: none;
				padding: 0 0 0 10px;

				& > .image {
					display: none;
					float: left;
					width: $imageSize;
					height: $imageSize;
					margin: 8px 10px 8px 0;
					border-radius: $imageSize;
					border: 1px solid $torpid-color-5;
					overflow: hidden;
					@include box-sizing();

					& > img {
						width: 100%;
						height: 100%;
					}
				}

				& > .select {
					display: none;
					float: left;
					margin: 8px 0 8px 10px;
					width: $imageSize;
					height: $imageSize;

					& > div {
						max-width: 100%;
						height: 100%;
						padding: 0 0 0 8px;
						@include box-sizing();
					}
				}
			}
		}
	}

	&.clickable {
		& > .torpid-list-row {
			cursor: pointer;
				
			& > span {
				&:nth-child(2) {
					color: $torpid-color-1;
				}
			}
		}
	}

	&.image {
		& > .torpid-list-row {
			& > span {
				&.torpid-list-extra {
					display: table-cell;

					& > .image {
						display: block;
					}
				}
			}
		}
	}

	&.selector {
		& > .torpid-list-row {
			& > .torpid-list-extra {
				display: table-cell;
				width: 0px;
				@include transition(width .5s ease-in);
				
				& > .image {
					position: relative;
					z-index: 2;
					left: 0;
					top: 0;
					@include transition(left .5s ease-in);
				}
				& > .select {
					display: block;
					width: 40px;
					position: absolute;
					z-index: 1;
					left: 0;
					top: 0;

					& > div {
						& > div.box {
							margin: 0;
						}
					}
				}
			}
		}
		&.image {
			& > .torpid-list-row {
				& > .torpid-list-extra {
					width: 10+$imageSize;
				}
			}
		}

		&.edit {
			& > .torpid-list-row {
				& > .torpid-list-extra {
					width: 10+$imageSize;
				}
			}

			&.image {
				& > .torpid-list-row {
					& > .torpid-list-extra {
						width: 20+$imageSize+$imageSize;

						& > .image {
							left: 50px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:$tablet-width) {

	.torpid-list-container {
		&.mobile-scroll {
			overflow-x: scroll;
			overflow-y: hidden;

			& .torpid-list-header {
				& > div {
					width: $tablet-width;
				}
			}
			& .torpid-list-row {
				width: $tablet-width !important;
			}
		}
	}
}

@media screen and (max-width:$mobile-width) {

	.torpid-list-container {
		&.mobile-scroll {
			overflow-x: scroll;
			overflow-y: hidden;

			& .torpid-list-header {
				& > div {
					width: $mobile-width;
				}
			}
			& .torpid-list-row {
				width: $mobile-width !important;
			}
		}
	}
}
