
$imageSize: 40px;

.torpid-list {
	display: table-row-group;

	& > span {
		&.torpid-list-extra {
			display: none;
			position: relative;
			width: 1px;
			border-bottom: none;
			padding: 0;

			& > .select {
				display: none;
				float: left;
				margin: 8px 0px 8px 0px;
				width: $imageSize;
				height: $imageSize;
				opacity: 0;
				position: absolute;
				z-index: 1;
				left: 0;
				top: 0;

				& > div {
					width: 40px;
					height: 40px;
					padding: 0 0 0 0;
					@include box-sizing();

					& > div.box {
						margin: 0;
					}
				}
			}
		}
	}

	& > .torpid-list-no-results {
		display: block;
		padding: 0;
		width: 100%;
		position: absolute;
		@include box-sizing();

		& > span {
			float: left;
			width: 100%;
			font: 22px/1 $ft-norm;
			color: $busy-color-11;
			text-align: center;
			vertical-align: middle;
			padding: 50px 0 0;
		}
	}

	& > .torpid-list-select-all {
		display: none;
	}

	& > .torpid-list-row {
		display: table-row;
		padding: 0;

		& > span {
			display: table-cell;
			font: 16px/1 $ft-norm;
			color: $torpid-color-3;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 16px 10px 15px;
			margin: 0;
			border-spacing: 0px;
			border-bottom: 1px solid $torpid-color-5;
			vertical-align: middle;

			&:nth-child(2) {
				text-align: left;
				padding: 16px 10px 15px 0;
			}
			&:last-of-type {
				text-align: right;
				padding: 16px 0 15px 10px;
			}

			&.torpid-list-extra {
				display: none;
				position: relative;
				width: 1px;
				border-bottom: none;
				padding: 0;

				& > .image {
					display: none;
					float: right;
					width: $imageSize;
					height: $imageSize;
					margin: 8px 24px 8px 0;
					border-radius: $imageSize;
					border: 1px solid $torpid-color-5;
					overflow: hidden;
					position: relative;
					z-index: 2;
					@include box-sizing();

					& > img {
						width: 100%;
						height: 100%;
					}
				}

				& > .select {
					display: none;
					float: left;
					margin: 8px 0px 8px 0px;
					width: $imageSize;
					height: $imageSize;
					opacity: 0;
					position: absolute;
					z-index: 1;
					left: 0;
					top: 0;

					& > div {
						width: 40px;
						height: 40px;
						padding: 0 0 0 0;
						@include box-sizing();

						& > div.box {
							margin: 0;
						}
					}
				}
			}
		}
	}

	&.large {
		& > .torpid-list-row {
			& > span {
				padding: 20px 10px;

				&:nth-child(2) {
					padding: 20px 10px 20px 0;
				}
				&:last-of-type {
					padding: 20px 0 20px 10px;
				}

				&.torpid-list-extra {
					padding: 0;
				}
			}
		}
	}

	&.clickable {
		& > .torpid-list-row {
			cursor: pointer;

			& > span {
				&:nth-child(2) {
					color: $torpid-color-1;
				}
			}
		}
	}

	&.image {
		& > .torpid-list-row {
			& > span {
				&.torpid-list-extra {
					display: table-cell;
					width: 24+$imageSize;

					& > .image {
						display: block;
					}
				}
			}
		}
	}

	&.selector {
		& > .torpid-list-select-all {
			display: block;
			position: absolute;
			width: 0px;
			height: 43px;
			top: 0px;
			overflow: hidden;
			@include transition(width .5s ease-in);

			& > .select {
				display: inline-block;
				@include transition(opacity .5s ease-in);
			}
		}
		& > .torpid-list-row {
			& > .torpid-list-extra {
				display: inline-block;
				height: 100%;
				@include transition(width .5s ease-in);

				& > .select {
					display: inline-block;
					@include transition(opacity .5s ease-in);
				}
			}
		}

		&.edit {
			& > .torpid-list-select-all {
				width: $imageSize;

				& > .select {
					opacity: 1;
				}
			}
			& > .torpid-list-row {
				& > .torpid-list-extra {
					width: $imageSize;

					& > .select {
						opacity: 1;
					}
				}
			}
		}

		&.image {
			&.edit {
				& > .torpid-list-row {
					& > .torpid-list-extra {
						width: 24+$imageSize+$imageSize;
					}
				}
			}
		}
	}
}

@media screen and (max-width:$tablet-width) {

	.torpid-list {

	}
}

@media screen and (max-width:$mobile-width) {

	.torpid-list {

	}
}
