
.torpid-list-container {
	display: inline-block;
	width: 100%;
	height: auto;
	min-height: 80%;
	padding: 56px 0 0 0;
	@include box-sizing();

	header {
		margin: -56px 0 0 0;
	}
}

@media screen and (max-width: $mobile-width) {

	.torpid-list-container {

	}
}
