
.torpid-tree-selector {
	
	margin: 0 0 5px;
	
	a {
		position: relative;
		width: 100%;
		color: $torpid-color-17;
		text-align: left;
		@include background-image(linear-gradient(top, #FFF, #EEE));
		border-radius: 3px;
		font: 13px/1 proxima;

		span {
			float: left;

			&:last-of-type {
				float: right;
				margin: 0 20px 0 0;
				color: #8e8e8e;
			}
		}

		div {
			position: absolute;
			right: 10px;
			top: 10px;
			height: 10px;
			width: 10px;
			border: 2px solid #ccc;
			border-left: none;
			border-bottom: none;
			@include transform(rotate(45deg));
		}
	}

	& > .select-container {
		position: absolute;
		height: 100%;
		width: 100%;
		background: #fff;
		top: 0;
		left: 100%;
		z-index: 1;
		@include transition(left .3s ease-in-out);

		& > li {
			width: 100%;
			height: 55px;
			border-bottom: 1px solid #CCC;
			padding: 0 10px;
			@include box-sizing();

			& > span {
				float: left;
				height: 100%;
				font: 16px/55px proxima;
				color: #333;
				padding: 0 0 0 10px;
				@include box-sizing();

				&.extra {
					float: right;
					display: none;
					padding: 20px 10px 0 0;

					& > div {
						width: 12px;
						height: 12px;
						border: 2px solid #AAA;
						border-bottom: none;
						border-left: none;
						@include transform(rotate(45deg));
					}

					&.active {
						display: inline;
					}
				}
			}
		}

		&.active {
			left: 0;
		}
	}
}

@media screen and (max-width: $mobile-width) {

	.torpid-tree-selector {
		display: inline-block;
		height: auto;
		background: $torpid-color-7;
		margin: 0px 0 30px;
		padding: 0;

		a {
			&.d-button.grey {
				width: 100%;
				padding-left: 10px;
				margin: 0 0 10px;
			}
		}

		span {
		
			&.floating-header-leftSide {
				width: 100%;
				margin: 0 0 30px;
			}

			&.floating-header-rightSide {
				width: 100%;
				margin: 0;
				float: right;
			}
		}
		menu {
			float: right;
			width: 100%;
			margin: 8px 0 0;

			a.d-button:after {
				top: 16px;
			}
		}
	}
}
