
$imageSize: 40px;

.torpid-list-header {
	width: 100%;
	height: 56px;
	margin: 0;
	padding: 0;
	@include box-sizing();
	@include transition(padding .3s ease-in-out);

	& > div {
		width: 100%;
		height: 100%;
		border-bottom: 1px solid $torpid-color-12;
		padding: 10px 0;
		@include box-sizing();

		span {
			float: left;
			font: 16px/36px $ft-bold;
			color: $torpid-color-3;
			height: 100%;
			padding: 0 10px;
			text-align: center;
			@include box-sizing();

			&:first-of-type {
				padding: 0 10px 0 0;
				text-align: left;
			}
			&:last-of-type {
				text-align: right;
			}
		}
	}

	&.selector {
	
		&.edit {
			padding: 0 0 0 8+$imageSize;
		}

		&.image {
			padding: 0 0 0 24+$imageSize;

			&.edit {
				padding: 0 0 0 8+24+$imageSize+$imageSize
			}
		}
	}
}

@media screen and (max-width: $mobile-width) {

	.torpid-list-header {
		
	}
}

