
@import '../mixins';

.torpid-section-half {
	background: #fff;
	float: left;
	width: 46%;
	height: 100%;
	margin: 0 4% 0 0;
	@include box-sizing();

	&:nth-of-type(even) {
		margin: 0 0 0 4%;
	}

}

@media screen and (max-width: 800px) {

	.torpid-section-half {
		background: #fff;
		float: left;
		width: 100%;
		height: auto;
		margin: 0 0 30px 0;
	
		&:nth-of-type(even) {
			margin: 0 0 30px 0;
		}
	}
}
