
// vendorize mixin
@mixin bc-vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

// box-sizing
@mixin bc-box-sizing {@include bc-vendorize(box-sizing, border-box)}

// transition
@mixin bc-transition($value) {@include bc-vendorize(transition, $value)}

//transform
@mixin bc-transform($value) {@include bc-vendorize(transform, $value)}

// import colors and fonts
@import 'mixins/color';
@import 'mixins/font';
@import 'mixins/hidpi';
@import 'mixins/screen';
