
@import 'addon';

body {
	margin: 0 100px;
	font-family: Arial;

	div {
		& > .component {
			width: 90%;
			margin-bottom: 10px;
			padding: 30px;
			border-bottom: 1px solid $bc-color-2;

			& > header {
				margin: 10px 0;
				font-size: 25px;
			}

			& code {
				display: block;
				margin: 10px 10%;
				padding: 10px;
				border: 1px solid $bc-color-2;
				background: $bc-color-11;
				white-space: nowrap;
				overflow: auto;
			}

			& span {
				&.code-result {
					display: block;
					margin: 10px 10%;
				}

				&.indent {
					display: inline-block;
					padding-left: 30px;
				}
			}
		}
	}
}
