
<div class="box">
	{{bc-checkbox-input id=inputId name=name group=group checked=checked _value=value disabled=disabled onChange="inputChanged" tabindex=tabindex}}
	<label for="{{inputId}}"></label>
</div>

{{#if title}}
	<span>{{{title}}}</span>
{{/if}}
