
<div class="box">

	{{text-field type="checkbox" id=inputId group=group name=name disabled=disabled checked=checked _value=value onClick="textFieldClick"}}

	<label for="{{inputId}}"></label>

</div>

{{#if title}}
	<span>{{{title}}}</span>
{{/if}}
