
<div class="label-container">
	<span class="label">{{labelString}}</span>
	<span class="hint">{{hint}}</span>
</div>

<div class="validate-container">
	{{view torpidInput}}
</div>

<div class="error-container">
	{{error}}
</div>
