
<ul>
	{{#each row in view.content}}
		<li class="torpid-list-row" {{action 'rowClick' row bubles=false }}>
			<span class="torpid-list-select">
				{{torpid-checkbox value=row.isSelected}}
			</span>

			{{#if view.hasImage}}
				<span class="torpid-list-thumbnail">
					<img src="{{if row.imageUrl row.imageUrl row.imageName}}" />
				</span>
			{{/if}}

			<span class="torpid-list-content">
				{{yield row}}
			</span>
		</li>
	{{/each}}
</ul>
