<header>
	{{#if titleName}}
		<span>{{titleName}} </span>
	{{/if}}

	{{#if buttonName}}
		<a {{action 'buttonClick' bubbles=false}}>{{buttonName}}</a>
	{{/if}}
</header>
<section>
	{{yield}}
</section>
