
{{#torpid-tabs}}
	
	{{#torpid-tab tabName="Torpid List"}}

		{{#torpid-list-container hasHeader=true}}
			{{#torpid-list-header}}
				<span>Name</span>
			{{/torpid-list-header}}

			{{log 'index' controller.content}}
			
			{{#torpid-list content=controller.content as |item|}}
				<span>{{item.name}}</span>
			{{/torpid-list}}
	
		{{/torpid-list-container}}
	
	{{/torpid-tab}}

	{{#torpid-tab tabName="Torpid Tabs"}}

	{{/torpid-tab}}

{{/torpid-tabs}}
